<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
      
        <div class="card text-center text-white bg-dark" style="width: 13rem; margin: 13% auto auto auto;">
              
             
            <div>
              <div class="card-header">Pokemon Generator</div>
              <div class="card-body">
                 <form>
                   <p><%= pokemon%><img src="<%=pokeImg%>" ></p>
                   
                   <button class="btn btn-outline-danger btn-sm pokeBt2"type="submit"><img class="pokeBall" src="/images/pokeball.png" alt=""> Generate</button>
                 </form>
                    </div>
                    </div>
          </div>
    </body>
</html>